# runtime files
.DS_Store

# plugins
/lazy-lock.json
/mason
/lazy

# generated
/get-colors-list.lua
/dump-plugins.md
/dump-lsp.md
/.copypaste
/.temp
/.mypy_cache

# universal-ctags
/universal-ctags

# project
/.idea

# custom
/lua/builtin/users.vim
/lua/builtin/users.lua
/lua/plugins/users.lua
/lua/config/neovim/nvim-lspconfig/setup_handlers.lua
/lua/config/williamboman/mason-lspconfig-nvim/setup_handlers.lua
/lua/config/williamboman/mason-lspconfig-nvim/ensure_installed.lua
/lua/config/jay-babu/mason-null-ls-nvim/setup_handlers.lua
/lua/config/jay-babu/mason-null-ls-nvim/ensure_installed.lua
/lua/config/hrsh7th/nvim-cmp/setup_handler.lua
