# runtime files
.DS_Store

# plugins
/lazy-lock.json
/mason
/lazy

# generated
/get-colors-list.lua
/dump-plugins.md
/dump-lsp.md
/.copypaste
/.temp
/.mypy_cache

# universal-ctags
/universal-ctags

# project
/.idea

# customization
/lua/cfg/lsp/mason-lspconfig/setup_handlers.lua
/lua/cfg/lsp/mason-lspconfig/ensure_installed.lua
/lua/cfg/lsp/mason-null-ls/setup_handlers.lua
/lua/cfg/lsp/mason-null-ls/ensure_installed.lua
/lua/cfg/lsp/lspconfig/setup_handlers.lua
