# runtime files
.DS_Store
.netrwhist

# copy-paste
.copypaste

# plugins
plugged
plugin/packer_compiled.lua

# user settings
lua/plugins.lua
lua/lspservers.lua
settings.vim
colorschemes.vim
init.vim

# neovim
init.vim
ginit.vim
neovim

# universal-ctags
universal-ctags

# ignored
.ignore.*
