name: CI
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true
jobs:
  commits:
    name: Commits
    if: ${{ github.ref != 'refs/heads/main' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: ytanikin/PRConventionalCommits@1.1.0
        with:
          task_types: '["feat","fix","docs","test","ci","refactor","perf","chore","revert","break"]'
  typecheck:
    name: Type check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: LuaLs Typecheck
        uses: stevearc/nvim-typecheck-action@v1
        with:
          path: lua
          level: Information
          configpath: ".luarc.json"
          neodev-version: stable
  selene:
    name: Selene
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: cargo-bins/cargo-binstall@main
      - name: Selene
        run: |
          cargo binstall  --no-confirm selene
          selene --config selene.toml ./lua
  stylua:
    name: Stylua
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Stylua
        uses: JohnnyMorganz/stylua-action@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          version: latest
          args: --config-path .stylua.toml ./lua
      - name: Auto commit
        if: ${{ github.ref != 'refs/heads/main' }}
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "chore(pr): auto-commit"
  ubuntu_installer:
    name: Ubuntu Installer
    runs-on: ubuntu-latest
    steps:
      - name: Get branch
        shell: bash
        run: echo "branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_OUTPUT
        id: extract_branch
      - name: Install lin.nvim
        run: |
          set -x
          echo '${{ steps.extract_branch.outputs.branch }}'
          export BRANCH_NAME=${{ steps.extract_branch.outputs.branch }}
          sudo sh -c "git clone --single-branch --branch $BRANCH_NAME --depth=1 https://github.com/linrongbin16/lin.nvim ~/.nvim && cd ~/.nvim && sudo bash -euxo pipefail ./install"
  macos_installer:
    name: MacOS Installer
    runs-on: macos-latest
    steps:
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
      - uses: Homebrew/actions/setup-homebrew@master
      - name: Get branch
        shell: bash
        run: echo "branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_OUTPUT
        id: extract_branch
      - name: Install lin.nvim
        shell: bash
        run: |
          set -x
          echo '${{ steps.extract_branch.outputs.branch }}'
          echo ${{ steps.extract_branch.outputs.branch }}
          git clone --single-branch --branch ${{ steps.extract_branch.outputs.branch }} --depth=1 https://github.com/linrongbin16/lin.nvim ~/.nvim && cd ~/.nvim && bash -euxo pipefail ./install
  release:
    name: Release
    if: ${{ github.ref == 'refs/heads/main' }}
    needs:
      - typecheck
      - selene
      - stylua
      - ubuntu_installer
      - macos_installer
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v3
        id: release
        with:
          release-type: simple
          package-name: lin.nvim
      - uses: actions/checkout@v4
      - uses: rickstaa/action-create-tag@v1
        if: ${{ steps.release.outputs.release_created }}
        with:
          tag: stable
          message: "Current stable release: ${{ steps.release.outputs.tag_name }}"
          tag_exists_error: false
          force_push_tag: true
