name: CI
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true
jobs:
  pr_conventional_commit:
    name: PR Conventional Commit
    if: ${{ github.ref != 'refs/heads/main' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: ytanikin/PRConventionalCommits@1.1.0
        with:
          task_types: '["feat","fix","docs","test","ci","refactor","perf","chore","revert","break"]'
  typecheck:
    name: Type check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: LuaLs Typecheck
        uses: stevearc/nvim-typecheck-action@v1
        with:
          path: lua
          level: Information
          configpath: ".luarc.json"
          neodev-version: stable
  luacheck:
    name: Lua check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Luacheck
        uses: lunarmodules/luacheck@v1
        with:
          args: lua --config .luacheckrc
  stylua:
    name: Stylua
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Stylua
        uses: JohnnyMorganz/stylua-action@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          version: latest
          args: --config-path .stylua.toml ./lua
      - name: Auto commit
        if: ${{ github.ref != 'refs/heads/main' }}
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "chore(pr): auto-commit"
  unix_installer:
    name: Unix Installer
    needs:
      - typecheck
      - luacheck
      - stylua
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
    steps:
      - uses: Homebrew/actions/setup-homebrew@master
        if: ${{ matrix.os == 'macos-latest'}}
      - name: Install lin.nvim
        shell: bash
        run: |
          echo 'pwd'
          echo $PWD
          echo 'ls'
          ls -lh
          set -x
          git clone https://github.com/linrongbin16/lin.nvim /root/.config/nvim && cd /root/.config/nvim && sudo bash -x  ./install.sh
  release:
    name: Release
    if: ${{ github.ref == 'refs/heads/main' }}
    needs:
      - typecheck
      - luacheck
      - stylua
      - unix_installer
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v3
        id: release
        with:
          release-type: simple
          package-name: lin.nvim
      - uses: actions/checkout@v4
      - uses: rickstaa/action-create-tag@v1
        if: ${{ steps.release.outputs.release_created }}
        with:
          tag: stable
          message: "Current stable release: ${{ steps.release.outputs.tag_name }}"
          tag_exists_error: false
          force_push_tag: true
